.gallery {
  margin: 10px 50px;
}
.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imglogo {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
#quantitypg {
  width: 3em;
  height: 3em;
}
body {
  background-color: #ffefef;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  margin: 1em;
}
.active {
  background-color: #fdd5d5;
  border-radius: 100px;
}
#divnav {
  text-align: center;
}
#divnav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  list-style-type: none;
}
a {
  outline: none;
  text-decoration: none;
  color: rgba(24, 59, 114, 0.794);
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
.option {
  font-size: 130%;
  font-style: italic;
}
#carrello {
  font-size: 130%;
  font-weight: bold;
}
footer {
  text-align: right;
  text-decoration: none;
}
.richiesta {
  font-size: 120%;
  color: rgba(24, 59, 114, 0.794);
}
#erroretipo4 {
  color: red;
}
input[type="radio"]:checked ~ * {
  box-shadow: 0 0 0 2.5px pink;
  border: 2px solid rgb(251, 187, 197);
  border-radius: 4px;
  background: rgb(250, 228, 232);
}
input[type="radio"]:checked + span {
  font-weight: bold;
}
